@model WebMvc.Models.EntryUpdateModel;
@{
    ViewData["Title"] = "Update Entry";
}

<h2>Entry Updater</h2>
<a asp-controller="EntryManager" asp-action="Index">Back to Table</a>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="EntryManager" asp-action="EntryUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boarded" class="control-label"></label>
                <input asp-for="Boarded" class="form-control" />
                <span asp-validation-for="Boarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftBehind" class="control-label"></label>
                <input asp-for="LeftBehind" class="form-control" />
                <span asp-validation-for="LeftBehind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>