@{
    ViewData["Title"] = "Login Screen";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <p>Username: </p><input alt="username">
        <p>Password: </p><input alt="password">
        <p><button type="submit">Sign-In</button></p>
    </form>
</div>