@model IEnumerable<WebMvc.Models.BusViewModel>;
@{
    ViewData["Title"] = "Bus Table";
}
<h3><a asp-controller="Home" asp-action="Index">Go Back</a></h3>
<h2>Bus Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Bus Number
            </th>
            <th>
                Update Button
            </th>
            <th>
                Delete Button
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.BusNumber)
                    </td>
                    <td>
                        <a asp-action="BusUpdate" asp-route-id="@item.Id">Update</a>
                    </td>
                    <td>
                        <a asp-action="BusDelete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-action="BusCreate">Create Bus</a>